.textSection {
  max-width: 470px;
  padding: 114px 0px;
}

.BannerContainer {
  overflow: hidden;
  position: relative;
}

.bannerHeadingText {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 56px;
}

.bannerSubheadingText {
  font-size: 18px;
  line-height: normal;
}

.Image {
  position: absolute;
  right: 0px;
  height: 103%;
  bottom: -68px;
}

@media screen and (min-width: 1850px) {
  .Image {
    // right: 50%
  }
}

@media screen and (max-width: 1320px) {
  .Image {
    height: unset;
    width: calc(100vw - 323px);
  }
}

@media screen and (max-width: 1190px) {
  .textSection {
    padding-bottom: 300px;
  }

  .Image {
    height: unset;
    width: 80vw;
  }
}

@media screen and (max-width: 765px) {

  .Innercontainer {
    display: block !important;
  }
  
  .textSection {
    padding-top: 50px;
    padding-bottom: 30px;
    max-width: unset;
    width: 100%;
  }

  .Image {
    position: static;
    width: 145%;
    transform: translate(-18%, 0px);
  }
}