.textSection {
  max-width: 470px;
  padding: 114px 0px;
}

.BannerContainer {
  overflow: hidden;
}

.bannerHeadingText {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 56px;
}

.bannerSubheadingText {
  font-size: 18px;
  line-height: normal;
}

.ImageSection {
  position: relative;
  flex: 1;
}

.Image {
  position: absolute;
  right: -106px;
  height: 103%;
  bottom: -68px;
}