.textSection {
  max-width: 470px;
  padding: 114px 0px;
}

.BannerContainer {
  overflow: hidden;
}

.bannerHeadingText {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 56px;
}

.bannerSubheadingText {
  font-size: 18px;
  line-height: normal;
}

.ImageSection {
  position: relative;
  flex: 1;
}

.Image {
  position: absolute;
  right: -106px;
  height: 103%;
  bottom: -68px;
}

@media screen and (max-width: 1190px) {
  .textSection {
    padding-bottom: 300px;
  }

  .Image {
    height: unset;
    width: 80vw;
  }
}

@media screen and (max-width: 765px) {

  .Innercontainer {
    display: block !important;
  }
  
  .textSection {
    padding-bottom: 30px;
    max-width: unset;
    width: 100%;
  }

  .ImageSection {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .Image {
    position: static;
    width: 100%;
  }
}