.NavItemContainer {
  padding: 0px;
  white-space: nowrap;

  .NavItem {
    display: inline-block;
  }

  .NavItem {
    &:last-child a {
      padding-right: 0px;
    }

    a {
      padding: 10px 25px;
      text-decoration: none;
      color: inherit;
      
      @media screen and (max-width: 860px) {
        padding: 10px 15px;
      }
      
      &:global(.active) {
        font-family: "Roboto Black";
        font-weight: 700;
      }
    }
  }
}