
$displayProps : (block, inline-block, inline, flex, inline-flex, grid, inline-grid);

@each $display in $displayProps {
  .d-#{$display} {
    display: $display;
  }
}

$positionProps : (relative, absolute, static, fixed, sticky);

@each $position in $positionProps {
  .position-#{$position} {
    position: $position;
  }
}