$mobileMaxWidth: 768px;

$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 65, 70, 75, 80, 90, 100, 150, 200); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {


  .left-#{$space} {
    left: #{$space}px;
  }

  .right-#{$space} {
    right: #{$space}px;
  }

  .top-#{$space} {
    top: #{$space}px;
  }

  .bottom-#{$space} {
    bottom: #{$space}px;
  }

  .w-#{$space} {
    width: #{$space}+'%';
  }

  .m-#{$space} {
    margin: #{$space}px;
  }

  .p-#{$space} {
    padding: #{$space}px;
  }

  .px-#{$space} {
    padding-left: #{$space}px;
    padding-right: #{$space}px;
  }

  .py-#{$space} {
    padding-top: #{$space}px;
    padding-bottom: #{$space}px;
  }

  .border-width-#{$space} {
    border-width: #{$space}px;
  }

  @each $side in $sides {

    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px;
    }

    @media screen and (max-width: $mobileMaxWidth){
      .m#{str-slice($side, 0, 1)}-mobile-#{$space} {
        margin-#{$side}: #{$space}px !important;
      }

      .p#{str-slice($side, 0, 1)}-mobile-#{$space} {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
}

$borderStyles : (solid, dashed);

@each $style in $borderStyles {
  .border-style-#{$style} {
    border-style: $style;
  }
}