$transform : (uppercase, lowercase, capitalize);

@each $transName in $transform {
  .text-transform-#{$transName} {
    text-transform: $transName;
  }
}


$textAlign : (center, left, right);

@each $alignName in $textAlign {
  .text-align-#{$alignName} {
    text-align: $alignName;
  }
}